:root {
    --header-color: yellowgreen;
    --bg-color: #000;
    --font-color: #fff;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: var(--font-color);
    
}

body {
    background-color: var(--bg-color);;
}

.container {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: var(--header-color);
    text-align: center;
    height: 20vh;
}

header .container {
    position: relative;
    bottom: -60%;
    padding-bottom: 5vh;
}

.profile-avatar {
    border-radius: 50%;
    margin-bottom: 24px;
    width: 180px;
    height: 180px;
}

.profile-name {
    font-size: 2em;
}

.profile-username {
    margin: 16px 0 32px;
    font-size: 1.1em;
}

.profile-link {
    background-color: var(--header-color);
    color: var(--bg-color);
    padding: 8px 16px;
    display: inline-block;
    margin-top: 24px;
    text-decoration: none;
    border-radius: 6px 0 6px 0;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.numbers-item {
    font-size: 3em;
    font-weight: bold;
}

.numbers-item h4 {
    font-size: .3em;
}

.div__form {
    position: relative;
    max-width: fit-content;
    margin: 5% auto;
}

.form {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

.form label {
    text-align: left;
    margin-bottom: 1vh;
}

.search-container {
    margin: 0;
    max-width: fit-content;
}

.form input {
    all: unset;
    background-color: #fff;
    text-align: left;
    padding: 10px 25px 10px 10px;
    border-radius: 8px 0 8px 0;
    color: var(--bg-color);
}

.form button {
    all: unset;
    cursor: pointer;
    padding: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--header-color);
    color: var(--bg-color);
    text-align: center;
    padding: 1vh;
}

footer a {
    color: var(--font-color);
}